.App { 
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nuevos estilos para Crear Paseador */
.crear-paseador-container {
  min-height: 100vh;
  padding-bottom: 60px;
  overflow: visible;
}

.crear-paseador-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.crear-paseador-container button {
  align-self: flex-start;
  margin-bottom: 50px;
}

/* Estilos para Gestión de Mascotas */
.gestion-mascotas-container {
  text-align: center;
  margin: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gestion-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  font-size: 16px;
  padding: 10px 20px;
}

/* General button styling */
button.m-2 {
  margin: 10px;
}

